<div class="header">
    <h1 class="campaignHeader">Demonstration</h1>

        <div class="loginBtns">
            <div class="login">
                Login
            </div>

            <div class="createAccount"> 
                Create Account
            </div>
        </div>
        
</div>