<div class="header">
    <h1 class="campaignHeader">Demonstration</h1>

        <div class="loginBtns">
            <a href="/login"><div class="login">
                Login
            </div></a>

            <a href="/register"><div class="createAccount"> 
                Create Account
            </div></a>
        </div>
        
</div>