<div class="card" aria-enabled="false">
    <div class="card-inner">
        <div class="card-front">
            <div class="cardFrontBackground"></div>
                <div class="npcIcon">
                    <img src="knight.png" alt="knight" class="knight">
                </div>
            <div class="npcName">{{npc.name}}</div>
        </div>

        <div class="card-back">
            <div class="cardBackInfo">
            <h1 class="h1card">{{npc.name}}</h1> 
            <p class="p1card">{{Placeholder Stats}}</p> 
            {{!-- <p class="p2card">Other information</p> --}}
            </div>
        </div>
    </div>
</div>