<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/reset.css" rel="stylesheet">
    <link href="../public/css/npc-page.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=IM+Fell+English+SC&family=Kings&family=Libre+Baskerville&family=MedievalSharp&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap" rel="stylesheet">


<title>{{CAMPAIGN NAME PLACEHOLDER}} NPCs</title>
</head>
<body>
  <div class="backgroundCover"></div>
  <!-- <div class="dragon">
    <div class="egg"></div>
  </div> -->

    <!-- <div class="card"></div> -->

  <div class="header">
    <h1 class="npcHeader">{{CAMPAIGN NAME PLACEHOLDER}} NPCs</h1>
  </div>

    <section class="column left">
        <div class="window"></div>
        <div class="sideking"></div>
    </section>
    <section class="column right">
        <div class="window"></div>
        <div class="sideknight"></div>
    </section>

  <div class="cardSection">

    <div class="cardshelf">
        
        <div class="cardCRUD">
            <div class="add-card topCard">
                <img src="../../background-images/npc-page/new-npc.png" alt="Quill and Scroll" class="crudIMG">
                <p class="add">Create Card</p>
        </div>
            <div class="remove-card topCard">
                <img src="../../background-images/npc-page/noose.png" alt="Noose" class="crudIMG">
                <p class="remove">Destroy Card</p>
            </div>
        </div>

        <div class="allCards">{{NPCS PLACEHOLDER}}</div>
    </div> 
</div>

</body>
<script src="../js/npc-page.js"></script>
</html>