<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/intro.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=IM+Fell+English+SC&family=Kings&family=Libre+Baskerville&family=MedievalSharp&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap" rel="stylesheet">

<title>Welcome</title>
</head>

<body>

    <div class="introAnimation" data-visible="false">
        <img src="/background-images/intro-page/background-empty-sky.png" alt="Castle with shaking sword in stone in front of it." class="backgroundMain">
        <div class="behindStars"></div>
        <img class="stars" src="/background-images/intro-page/starry-night.jpg" alt="Starry Sky">
        <img class="moon" src="/background-images/intro-page/moon.png" alt="Giant moon behind the castle.">
        <header class="introHeader">Welcome To "Placeholder"</header>
        <div class="sword-activate sword" aria-enabled="false"></div>
        <div class="rock"></div>
    </div>

    <div class="header">
        <h1 class="campaignHeader">Demonstration</h1>

            <div class="loginBtns">
                <div class="login">
                    Login
                </div>

                <div class="createAccount">
                    Create Account
                </div>
            </div>
            
    </div>

    <section class="bookshelf-left">
        <div class="torch-left"></div>
        <div class="sorcerer"></div>
    </section>
    <section class="bookshelf-right">
        <div class="torch-right"></div>
        <div class="wizard"></div>
    </section>

    <div class="campaignSection">

        <div class="bookshelf">
            
            <div class="demoVideo"> 
                {{> demo}}
            </div>

        </div>

    </div>

</body>
<script src="/js/intro.js"></script>
</html>