<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/return-login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=IM+Fell+English+SC&family=Kings&family=Libre+Baskerville&family=MedievalSharp&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap" rel="stylesheet">

<title>Login</title>
</head>

<body>

    <div class="header">
        <h1 class="campaignHeader">Login</h1>

        <div class="menuBtn">Menu</div>
        <div class="menu" data-visible="false">
            <ul class="optionList">
                <li class="menuOption">Go Back</li>
            </ul>
        </div>   
    </div>

    <section class="bookshelf-left">
        <div class="torch-left"></div>
        <div class="sorcerer"></div>
    </section>
    <section class="bookshelf-right">
        <div class="torch-right"></div>
        <div class="wizard"></div>
    </section>

    <div class="campaignSection">
            
           <div class="topScroll">

            <div class="bottomScrollHolder">
               <div class="bottomScroll">
                <form class="userNameForm">
                    <input class="userName input" type="text">
                </form>

                <form class="userPasswordForm">
                    <input class="userPassword input" type="password">
                </form>

                <div class="finalize">
                   
               </div>
            </div>

           </div>

    </div>
    
</body>
<script src="../js/return-login.js"></script>
</html>