<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/npc-create-page.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=IM+Fell+English+SC&family=Kings&family=Libre+Baskerville&family=MedievalSharp&family=UnifrakturCook:wght@700&family=UnifrakturMaguntia&display=swap" rel="stylesheet">


<title>Create NPC</title>
</head>
<body>
  <div class="backgroundCover"></div>
  <!-- <div class="dragon">
    <div class="egg"></div>
  </div> -->

    <!-- <div class="card"></div> -->

  <div class="header">
    <h1 class="npcHeader">Create NPC</h1>
  </div>

  <section class="column left">
    <div class="window"></div>
    <div class="sideking"></div>
  </section>
  <section class="column right">
    <div class="window"></div>
    <div class="sideknight"></div>
  </section>

    <div class="createSection">
        <div class="createCard">
          <div class="alignOverlay" aria-enabled="false">
            <div class="alignGrid">
              <div class="aligns">
                <div class="good">Good</div>
                <div class="neutral">Neutral</div>
                <div class="evil">Evil</div>
              </div>
              <div class="goodGrid">
                <img src="/alignment-icons/1.jpg" alt="Good" class="goodLaw alignIcon">
                <img src="/alignment-icons/2.jpg" alt="Neutral" class="neutralLaw alignIcon">
                <img src="/alignment-icons/3.jpg" alt="Evil" class="evilLaw alignIcon">
              </div>
              <div class="neutralGrid">
                <img src="/alignment-icons/4.jpg" alt="Good" class="goodNeu alignIcon">
                <img src="/alignment-icons/5.jpg" alt="Neutral" class="neutralNeu alignIcon">
                <img src="/alignment-icons/6.jpg" alt="Evil" class="evilNeu alignIcon">
              </div>
              <div class="evilGrid">
                <img src="/alignment-icons/7.jpg" alt="Good" class="goodCha alignIcon">
                <img src="/alignment-icons/8.jpg" alt="Neutral" class="neutralCha alignIcon">
                <img src="/alignment-icons/9.jpg" alt="Evil" class="evilCha alignIcon">
              </div>
            </div>
          </div>


          <div class="npcIconOverlay" aria-enabled="false">
            <div class="iconList">
              <div class="npcIconSelectionHead">
                <div class="selectingHead">Choose An Icon!</div>
              </div>
              <div class="allIcons">
                <img src="/npc-icons/1.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/2.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/3.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/4.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/5.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/6.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/7.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/8.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/9.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/10.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/11.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/12.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/13.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/14.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/15.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/16.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/17.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/18.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/19.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/20.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/21.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/22.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/23.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/24.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/25.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/26.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/27.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/28.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/29.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/30.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/31.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/32.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/33.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/34.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/35.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/36.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/37.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/38.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/39.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/40.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/41.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/42.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/43.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/44.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/45.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/46.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/47.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/48.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/49.png" alt="Character icon" class="characterIcon">
                <img src="/npc-icons/50.png" alt="Character icon" class="characterIcon">
              </div>
            </div>
          </div>


            <div class="npcInfo">
                <form class="npcName">
                    <h1 class="npcNameHeader">Name?<span class="randomName">🎲 </span></h1>
                    <input class="userNPCName input" type="text" name="randomName" id="randomName">
                </form>
                
                <form class="npcHp">
                    <h1 class="npcHpHeader">How much HP?</h1>
                    <input class="userNPCHp input" type="text">
                </form>
                
                <form class="npcDesc">
                  <h1 class="npcDescHeader">Give them a story!</h1>
                  <textarea name="userNPCDesc" cols="1" rows="10" class="userNPCDesc input"></textarea>
                </form> 

                <div class="npcAlign">
                    <h1 class="npcAlignHeader">Alignment</h1>
                    <div class="userNPCAlign" data-visible="true">
                      <img src="" alt="Your selected alignment" aria-enabled="false" class="selectedAlignment">
                      <div class="alignWord"></div>
                    </div>
                </div>

                <div class="npcIcon">
                  <h1 class="npcAlignHeader">Appearance</h1>
                    <div class="userNPCIcon" data-visible="true">
                      <img src="" alt="Your selected character icon" aria-enabled="false" class="selectedCharacter">
                    </div>
                </div>
                
            </div>
            <button class="createNPC">Create!</button>
        </div>
    </div>

</div>
</body>
<script src="/js/npc-create-page.js"></script>
</html>