
  
html {
    height: 100%;
}
  
body {
    background: url('../../background-images/campaign-page/dark-weapons-back.png');
    /* background-repeat: no-repeat; */
    background-size: 75vw;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.header {
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    box-shadow: 0px 10px 15px #000000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IM Fell Double Pica SC', serif;
}

.menuBtn {
    color: #D8D1C7;
    font-family: 'IM Fell Double Pica SC', serif;
    font-size: 30px;
    border-radius: 5px;
    border: 5px outset #3d3432;
    padding: 5px;
    background-color: #0e0e0e;
    cursor: pointer; 
    transition: border 2s, background-color 250ms;
    user-select: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 5%;
}

.menuBtn:hover {
    background-color: #1a1a1a;
    border: 5px inset #3d3432;
}

.menuBtn:active {
    transform: translateY(2px);
}

.menu {
    transition: right 1s ease-in-out;
}

.menu[data-visible="true"] {
    position: fixed;
    width: min(300px, 100%);
    height: fit-content;
    background-color: #240d0d;
    right: 0;
    top: 120px;
    border: 5px outset #3d3432;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 15px black;
}

.menu[data-visible="false"] {
    position: fixed;
    width: min(300px, 100%);
    height: fit-content;
    background-color: #240d0d;
    right: -100%;
    top: 120px;
    border: 5px outset #3d3432;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 15px black;
}

.optionList {
    margin: 35px 0px;
}

.menuOption {
    color: #D8D1C7;
    font-size: max(1.5vw, 20px);
    cursor: pointer;
    user-select: none;
    margin-bottom: 30%;
    transition: border-bottom 200ms, transform 200ms;
}

.menuOption:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.menuOption:active {
    transform: translateY(2px);
}

.bookshelf-left, .bookshelf-right {
    width: 20vw;
    height: 100vh;
    position: fixed;
    background-image: url('../../background-images/campaign-page/dark-panel.png');
    z-index: 9998;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}

.bookshelf {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.torch-left {
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    aspect-ratio: 1;
    position: absolute;
    top: 18%;
    -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
    filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0));
    animation: torchShadowLeft 10s infinite; 
    animation-delay: 1.25s;
}

.torch-left::before {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
    filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    animation: flickerBefore 10s infinite;
    animation-delay: 1.25s;
}

.torch-left::after {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
    filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    animation: flickerAfterLeft 10s infinite;
    animation-delay: 1.25s;
}

.torch-right {
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    aspect-ratio: 1;
    position: absolute;
    top: 18%;
    -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
    filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    animation: torchShadowRight 10s infinite;
}

.torch-right::before {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
    filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    animation: flickerBefore 10s infinite;
}

.torch-right::after {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
    filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    animation: flickerAfterRight 10s infinite;
}

@keyframes torchShadowLeft {
    0% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
}

@keyframes torchShadowRight {
    0% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
}

@keyframes flickerBefore {
    0% {
        -webkit-filter: drop-shadow(0px -45px 10px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 10px rgb(255, 60, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(0px -45px 55px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 55px rgb(255, 60, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(0px -45px 105px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 105px rgb(255, 60, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(0px -45px 55px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 55px rgb(255, 60, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(0px -45px 155px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 155px rgb(255, 60, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 10px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 10px rgb(255, 60, 0)); 
    }
}

@keyframes flickerAfterLeft {
    0% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43));  
    }
    12.5% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    25% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    50% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43));
    }
    75% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    }
}

@keyframes flickerAfterRight {
    0% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43));  
    }
    12.5% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    25% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    50% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43));
    }
    75% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    }
}

.bookshelf-left {
    left: 0;
    top: 120px;
    border-right: 8px solid #240d0d;
}

.sorcerer {
    background-image: url('../../background-images/campaign-page/sorcerer.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0%;
    margin-bottom: 25%;
    -webkit-filter: drop-shadow(10px 0px 15px rgb(0, 0, 0));
    filter:         drop-shadow(10px 0px 15px rgb(0, 0, 0)); 
}

.bookshelf-right {
    right: 0;
    top: 120px;
    border-left: 8px solid #240d0d;
}

.wizard {
    background-image: url('../../background-images/campaign-page/wizard.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0%;
    margin-bottom: 25%;
    -webkit-filter: drop-shadow(10px 0px 15px rgb(0, 0, 0));
    filter:         drop-shadow(10px 0px 15px rgb(0, 0, 0)); 
}

.campaignHeader {
    width: max-content;
    color: #D8D1C7;
    font-size: 76px;
    text-align: center;
    /* position: absolute; */
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.campaignSection {
    margin-top: 200px;
    width: 45%;
    height: 70%;
    border-radius: 1em;
    box-shadow: inset 0px 0px 5px 5px,
    inset 0px 0px 55px;
    background: url('../../background-images/campaign-page/campaign-section-2.png');
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}

.oldBook {
    position: relative;
    top: -5%;
    perspective: 1200px;
    width: 40%;
    aspect-ratio: .70;
    margin: 50px 25px;
    flex: none;
    transition: z-index 100ms;
}

.campaign {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backface-visibility: visible;
    /* z-index: 100; */
    transition: transform 1s;
}

.front, .back {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.page1, .page1-5, .page2, .page2-5, .page3, .page3-5, .page4, .page4-5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 99%;
    height: 99%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front {
    background: url('../../background-images/campaign-page/book-cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px 5px #000000;
    z-index: 100;
}

.back {
    background: url('../../background-images/campaign-page/book-back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 15px 15px 15px .1px #000000;
}

.front, .page1, .page1-5, .page3, .page3-5, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .1em;
    border-top-left-radius: .1em;
}

.back, .page2, .page2-5, .page4, .page4-5, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .1em;
    border-top-left-radius: .1em;
}

.page1 { 
    background: url('../../background-images/campaign-page/front-five.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page1-5 { 
    background: url('../../background-images/campaign-page/front-four.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page2 {
    background: url('../../background-images/campaign-page/back-five.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page2-5 { 
    background: url('../../background-images/campaign-page/back-four.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page3 {
    background: url('../../background-images/campaign-page/front-three.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page3-5 { 
    background: url('../../background-images/campaign-page/front-two.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page4 {
    background: url('../../background-images/campaign-page/back-three.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page4-5 { 
    background: url('../../background-images/campaign-page/back-two.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/* .page5 {
    transform-style: preserve-3d;
    position: absolute;
    width: 99%;
    height: 99%;
    top: 0; left: 0;
    transform-origin: left center;
    display: none;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
} */

.page5 {
    background: url('../../background-images/campaign-page/front-one.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    position: absolute;
    width: 99%;
    height: 99%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.page6 {
    background: url('../../background-images/campaign-page/back-one-empty.png');
    /* background-repeat: no-repeat; */
    background-position: center;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campaignDesc {
    width: 90%;
    height: 20%;
    position: absolute;
    top: 15%;
    overflow-wrap: break-word;
    transform: rotateY(180deg);
    font-family: 'Libre Baskerville', serif;
}

.campaign[data-visible="true"] {
    transform: translate(50%);
}

.campaign[data-visible="true"] .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page1-5 {
    transform: rotateY(-147deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page2 {
    transform: rotateY(-27deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page2-5 {
    transform: rotateY(-33deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page3 {
    transform: rotateY(-143deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page3-5 {
    transform: rotateY(-141deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page4 {
    transform: rotateY(-36deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page4-5 {
    transform: rotateY(-39deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .page5 {
    transform: rotateY(-133deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
}

.campaign[data-visible="true"] .page6 {
    transform: rotateY(-46deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign[data-visible="true"] .back {
    transform: rotateY(-20deg) scale(1.1);
}

.bookInfo {
    margin-left: 10%;
    width: 80%;
    height: 20%;
    /* background-color: black; */
    position: relative;
    top: 17.5%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: #d8d8d8;
}

.bookInfo form h1 {
    font-size: 2.5em;
    font-family: 'Libre Baskerville', serif;
    line-height: 1;
    color: #c4c1bd;
}

.campaignTitle {
    font-size: max(2vw, 20px);
    width: 95%;
    height: 20%;
    text-align: center;
}

.input {
    width: 85%;
    height: 100%;
    margin-top: 0.5%;
    background-color: #8b867e;
    box-shadow: inset 0px 0px 5px #000000;
    text-align: center;
    font-weight: 600;
    z-index: 10;
}

.userCampName {
    width: 100%;
    height: 30%;
    margin-top: 2.5%;
    background-color: #8b867e;
    box-shadow: inset 0px 0px 5px #000000;
    text-align: center;
    font-weight: 600;
    z-index: 1000;
  }

  .bookName {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .nextPage {
      position: absolute;
      width: 10%;
      bottom: 5%;
      aspect-ratio: 1;
      background-image: url('../../background-images/campaign-page/next-page-arrow.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 100ms;
      z-index: 1000;
      -webkit-filter: drop-shadow(0px 0px 5px rgb(129, 129, 129));
      filter:         drop-shadow(0px 0px 5px rgb(139, 139, 139));
  }

  .nextPage:hover {
    -webkit-filter: drop-shadow(0px 0px 5px rgb(177, 57, 57));
    filter:         drop-shadow(0px 0px 5px rgb(150, 29, 29));
    width: 12%;
    bottom: 3%;
    /* margin-bottom: -16.5%; */
  }

  .nextPage[data-visible="true"] {
    transform: rotateY(180deg);
  }

  .bookDesc[data-visible="false"] {
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: none;
}

.bookDescHeader[data-visible="false"] {
  font-size: 1.5vw;
  width: 95%;
  height: 20%;
  text-align: center;
  display: none;
  color: #313130;
}

.userBookDesc[data-visible="false"] {
  width: 80%;
  height: 50%;
  resize: none;
  display: none;
  position: relative;
  top: -10%;
  text-align: left;
  padding: 5px;
}

  .bookDesc[data-visible="true"] {
      transform: rotateY(180deg);
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      color: #313130;
  }

  .bookDescHeader[data-visible="true"] {
    font-size: 1.5vw;
    width: 95%;
    height: 20%;
    text-align: center;
  }

  .userBookDesc[data-visible="true"] {
    width: 80%;
    height: 50%;
    resize: none;
    position: relative;
    top: -10%;
    text-align: left;
    padding: 5px;
  }

  .finish {
      width: 80%;
      height: min-content;
      position: absolute;
      bottom: 20%;
      font-size: 3.5em;
      font-weight: 700;
      font-family: 'Libre Baskerville', serif;
      line-height: 1;
      color: #313130;
      transition: all 100ms;
  }

  .finish:hover {
      text-shadow: 0px 0px 5px #2ba0ff;
      font-size: 4em;
      bottom: 18%;
  }