::-webkit-scrollbar {
    width: .5em;
    padding-left: 10px;
    height: 1rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #7e7a74;
    margin-top: auto;
  }
  
  ::-webkit-scrollbar-track:hover {
    box-shadow: inset 0px 0px 10px #909090;
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3d3b39;
    border: 2px solid #7e7a74;
    /* border-radius: 100vh; */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 5px var(--blueGlow);
    cursor: pointer;
  }
  
html {
    height: 100%;
}
  
body {
    background: url('../../background-images/campaign-page/dark-weapons-back.png');
    /* background-repeat: no-repeat; */
    background-size: 75vw;
    background-position: center;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    box-shadow: 0px 10px 15px #000000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IM Fell Double Pica SC', serif;
}

.menuBtn {
    color: #D8D1C7;
    font-family: 'IM Fell Double Pica SC', serif;
    font-size: 30px;
    border-radius: 5px;
    border: 5px outset #3d3432;
    padding: 5px;
    background-color: #0e0e0e;
    cursor: pointer; 
    transition: border 2s, background-color 250ms;
    user-select: none;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 5%;
}

.menuBtn:hover {
    background-color: #1a1a1a;
    border: 5px inset #3d3432;
}

.menuBtn:active {
    transform: translateY(2px);
}

.menu {
    transition: right 1s ease-in-out;
}

.menu[data-visible="true"] {
    position: fixed;
    width: min(300px, 100%);
    height: fit-content;
    background-color: #240d0d;
    right: 0;
    top: 120px;
    border: 5px outset #3d3432;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 15px black;
}

.menu[data-visible="false"] {
    position: fixed;
    width: min(300px, 100%);
    height: fit-content;
    background-color: #240d0d;
    right: -100%;
    top: 120px;
    border: 5px outset #3d3432;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 15px black;
}

.optionList {
    margin: 35px 0px;
}

.menuOption {
    color: #D8D1C7;
    font-size: max(1.5vw, 20px);
    cursor: pointer;
    user-select: none;
    margin-bottom: 30%;
    transition: border-bottom 200ms, transform 200ms;
}

.menuOption:hover {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.menuOption:active {
    transform: translateY(2px);
}

.bookshelf-left, .bookshelf-right {
    width: 20vw;
    height: 100vh;
    position: fixed;
    background-image: url('../../background-images/campaign-page/dark-panel.png');
    z-index: 9998;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}

.torch-left {
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    aspect-ratio: 1;
    position: absolute;
    top: 18%;
    -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
    filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0));
    animation: torchShadowLeft 10s infinite; 
    animation-delay: 1.25s;
}

.torch-left::before {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
    filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    animation: flickerBefore 10s infinite;
    animation-delay: 1.25s;
}

.torch-left::after {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
    filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    animation: flickerAfterLeft 10s infinite;
    animation-delay: 1.25s;
}

.torch-right {
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    aspect-ratio: 1;
    position: absolute;
    top: 18%;
    -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
    filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    animation: torchShadowRight 10s infinite;
}

.torch-right::before {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
    filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    animation: flickerBefore 10s infinite;
}

.torch-right::after {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
    filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    animation: flickerAfterRight 10s infinite;
}

@keyframes torchShadowLeft {
    0% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
}

@keyframes torchShadowRight {
    0% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
}

@keyframes flickerBefore {
    0% {
        -webkit-filter: drop-shadow(0px -45px 10px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 10px rgb(255, 60, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(0px -45px 55px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 55px rgb(255, 60, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(0px -45px 105px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 105px rgb(255, 60, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(0px -45px 55px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 55px rgb(255, 60, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(0px -45px 155px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 155px rgb(255, 60, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 10px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 10px rgb(255, 60, 0)); 
    }
}

@keyframes flickerAfterLeft {
    0% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43));  
    }
    12.5% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    25% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    50% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43));
    }
    75% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    }
}

@keyframes flickerAfterRight {
    0% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43));  
    }
    12.5% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    25% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    50% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43));
    }
    75% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    }
}

.bookshelf-left {
    left: 0;
    top: 120px;
    border-right: 8px solid #240d0d;
}

.sorcerer {
    background-image: url('../../background-images/campaign-page/sorcerer.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0%;
    margin-bottom: 25%;
    -webkit-filter: drop-shadow(10px 0px 15px rgb(0, 0, 0));
    filter:         drop-shadow(10px 0px 15px rgb(0, 0, 0)); 
}

.bookshelf-right {
    right: 0;
    top: 120px;
    border-left: 8px solid #240d0d;
}

.wizard {
    background-image: url('../../background-images/campaign-page/wizard.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0%;
    margin-bottom: 25%;
    -webkit-filter: drop-shadow(10px 0px 15px rgb(0, 0, 0));
    filter:         drop-shadow(10px 0px 15px rgb(0, 0, 0)); 
}

.campaignHeader {
    width: max-content;
    color: #D8D1C7;
    font-size: 76px;
    text-align: center;
    /* position: absolute; */
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.campaignSection {
    margin-top: 200px;
    max-width: 50%;
    height: fit-content;
    border-radius: 1em;
    box-shadow: inset 0px 0px 5px 5px,
    inset 0px 0px 55px;
    background: url('../../background-images/campaign-page/campaign-section-2.png');
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}

.campaignCRUD {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0px;
    font-weight: 500;
}

.addCampaign, .removeCampaign {
    width: 180px;
    aspect-ratio: .69;
    margin: 35px 35px;
    display: flex;
    flex-wrap: wrap;
    border-radius: .15em .2em .2em .15em;
    flex: none;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 10px 15px 10px #000000;
    transition: box-shadow 1.5s;
}

.addCampaign {
    background-image: url('../../background-images/campaign-page/book-cover.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.addCampaign:hover {
    box-shadow: 0px 0px 15px 5px rgb(31, 238, 203),
    10px 10px 10px 5px rgb(0, 0, 0);
}

.removeCampaign {
    background-image: url('../../background-images/campaign-page/book-cover.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.removeCampaign:hover {
    box-shadow: 0px 0px 10px 10px rgb(238, 31, 41),
    10px 10px 10px 5px rgb(0, 0, 0);
}

.addBookHeader, .removeBookHeader {
    color: #D8D1C7;
    font-size: 155%;
    font-family: 'Kings', cursive;
    width: 70%;
    text-align: center;
    margin-top: 10%;
}

.titleHeader {
    color: #D8D1C7;
    font-size: 155%;
    font-family: 'Kings', cursive;
    width: 70%;
    text-align: center;
    padding-top: 50%;
    padding-left: 8%;
    padding-right: 2%;
    /* flex-wrap: wrap; */
}

.campaignAddIcon, .campaignRemoveIcon {
    width: 75px;
    aspect-ratio: .85;
    background-size: cover;
    background-repeat: no-repeat;
    top: 10%;
    /* -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    filter:         drop-shadow(0px 0px 5px rgb(0, 0, 0));  */
    opacity: 69%;
}

.campaignAddIcon {
    background-image: url('../../background-images/campaign-page/create-campaign.png');
    -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    filter:         drop-shadow(0px 0px 5px rgb(0, 0, 0)); 
    animation: glow 15s infinite;
}

.campaignRemoveIcon {
    background-image: url('../../background-images/campaign-page/remove-campaign.png');
    animation: fire 10s infinite;
}

@keyframes fire {
    0% {
        -webkit-filter: drop-shadow(0px -10px 5px rgb(209, 68, 33));
        filter:         drop-shadow(0px -10px 5px rgb(209, 68, 33)); 
    }
    50% {
        -webkit-filter: drop-shadow(0px -10px 15px rgb(209, 68, 33));
        filter:         drop-shadow(0px -10px 15px rgb(209, 68, 33)); 
    }
    70% {
        -webkit-filter: drop-shadow(0px -10px 10px rgb(255, 105, 67));
        filter:         drop-shadow(0px -10px 10px rgb(255, 105, 67)); 
    }
    85% {
        -webkit-filter: drop-shadow(0px -10px 8px rgb(209, 68, 33));
        filter:         drop-shadow(0px -10px 8px rgb(209, 68, 33)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -10px 5px rgb(209, 68, 33));
        filter:         drop-shadow(0px -10px 5px rgb(209, 68, 33)); 
    }
}

@keyframes glow {
    0% {
        -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
        filter:         drop-shadow(0px 0px 5px rgb(0, 0, 0));
    }
    25% {
        -webkit-filter: drop-shadow(0px 0px 5px rgb(33, 180, 185));
        filter:         drop-shadow(0px 0px 5px rgb(33, 180, 185));
        transform: rotate(-5deg);
    }
    50% {
        -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
        filter:         drop-shadow(0px 0px 5px rgb(0, 0, 0));
    }
    75% {
        -webkit-filter: drop-shadow(0px 0px 5px rgb(33, 180, 185));
        filter:         drop-shadow(0px 0px 5px rgb(33, 180, 185));
        transform: rotate(5deg);
    }
    100% {
        -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
        filter:         drop-shadow(0px 0px 5px rgb(0, 0, 0));
    }
}

.bookshelf {
    width: 85%;
    height: fit-content;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.allBooks {
    width: 100%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.oldBook {
    perspective: 1200px;
    width: 215px;
    aspect-ratio: .70;
    margin: 50px 25px;
    flex: none;
    transition: z-index 100ms;
}

.campaign {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backface-visibility: visible;
    /* z-index: 100; */
    transition: transform 1s;
}

.front, .back {
    transform-style: preserve-3d;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.page1, .page1-5, .page2, .page2-5, .page3, .page3-5, .page4, .page4-5, .page5, .page6 {
    transform-style: preserve-3d;
    position: absolute;
    width: 99%;
    height: 99%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
}

.front {
    background: url('../../background-images/campaign-page/book-cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px 5px #000000;
}

.back {
    background: url('../../background-images/campaign-page/book-back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 15px 15px 15px .1px #000000;
}

.front, .page1, .page1-5, .page3, .page3-5, .page5 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .1em;
    border-top-left-radius: .1em;
}

.back, .page2, .page2-5, .page4, .page4-5, .page6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
    border-bottom-left-radius: .1em;
    border-top-left-radius: .1em;
}

.page1 { 
    background: url('../../background-images/campaign-page/front-five.png');
}

.page1-5 { 
    background: url('../../background-images/campaign-page/front-four.png');
}

.page2 {
    background: url('../../background-images/campaign-page/back-five.png');
}

.page2-5 { 
    background: url('../../background-images/campaign-page/back-four.png');
}

.page3 {
    background: url('../../background-images/campaign-page/front-three.png');
}

.page3-5 { 
    background: url('../../background-images/campaign-page/front-two.png');
}

.page4 {
    background: url('../../background-images/campaign-page/back-three.png');
}

.page4-5 { 
    background: url('../../background-images/campaign-page/back-two.png');
    background-position: center;
    background-size: contain;
}

.page5 {
    background: url('../../background-images/campaign-page/front-one.png');
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 70%;
    font-family: 'Kings', cursive;
}

.page6 {
    background: url('../../background-images/campaign-page/back-one.png');
    background-position: center;
    background-size: contain;
}

.campaignDesc {
    width: 90%;
    height: 20%;
    position: absolute;
    top: 15%;
    overflow-wrap: break-word;
    transform: rotateY(180deg);
    font-family: 'Libre Baskerville', serif;
}

.campaign:hover {
    transform: translate(50%);
    /* z-index: 1000; */
}

.campaign:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page1-5 {
    transform: rotateY(-147deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page2 {
    transform: rotateY(-27deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page2-5 {
    transform: rotateY(-33deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page3 {
    transform: rotateY(-143deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page3-5 {
    transform: rotateY(-141deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page4 {
    transform: rotateY(-36deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page4-5 {
    transform: rotateY(-39deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page5 {
    transform: rotateY(-133deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .page6 {
    transform: rotateY(-46deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
}

.campaign:hover .back {
    transform: rotateY(-20deg) scale(1.1);
}