::-webkit-scrollbar {
    width: 1em;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background: #2c4b2c;
    margin-top: auto;
}

::-webkit-scrollbar-track:hover {
    box-shadow: inset 0px 0px 10px #909090;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background: #579e72;
    border: 2px solid #909090;
    /* border-radius: 100vh; */
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0px 0px 5px var(--blueGlow);
    cursor: pointer;
}

body {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    align-items: center;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.introAnimation {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    z-index: 10000;
    justify-content: center;
    background: transparent;
}

.introAnimation[data-visible="false"] {
    display: none;
}

.backgroundMain {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
}

.behindStars {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: black;
    z-index: -10;
}

.stars {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -9;
}

.moon {
    width: max(25%, 280px);
    aspect-ratio: 1;
    position: fixed;
    top: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -8;
    animation: moonrise 5s ease-in-out;
}

@keyframes moonrise {
    0% {
        top: 100%;
    }
    100% {
        top: 10%;
    }
}

.introHeader {
    color: white;
    font-size: min(56px, 8vw);
    margin-top: 5px;
    font-family: 'IM Fell Double Pica SC', serif;
}

.sword {
    background-image: url('../../background-images/campaign-page/sword-no-flame.png');
    bottom: 0vh;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    width: max(200px, 15vw);
    aspect-ratio: 1;
    position: absolute;
    animation: swordShake 500ms infinite;
}

@keyframes swordShake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    75% {
        transform: rotate(-1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.SWORD {
    background-image: url('../../background-images/campaign-page/sword-flame.png');
    bottom: 22.5vh;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotate(180deg);
    width: max(200px, 15vw);
    aspect-ratio: 1;
    position: absolute;
    /* top: 55vh; */
    animation: swordpull 8s ease-in-out, swordHover 3s;
    animation-delay: 0s, 6s;
}

@keyframes swordpull {
    0% {
        background-image: url('../../background-images/campaign-page/sword-no-flame.png');
        transform: rotate(0deg);
        bottom: 0vh;
    }
    25% {
        -webkit-filter: drop-shadow(0px 5px 15px rgb(59, 212, 205));
        filter:         drop-shadow(0px 5px 15px rgb(59, 212, 205));
        bottom: 22.5vh;
    }
    26% {
        transform: rotate(0deg);
    }
    55% {
        bottom: 22.5vh;
        transform: rotate(180deg);
        background-image: url('../../background-images/campaign-page/sword-no-flame.png');
    }
    65% {
        background-image: url('../../background-images/campaign-page/sword-flame.png');
        transform: rotate(180deg); 
    }
    70% {
        -webkit-filter: drop-shadow(0px 12px 5px rgb(238, 61, 16));
        filter:         drop-shadow(0px 12px 5px rgb(238, 61, 16));
    }
    80% {
        -webkit-filter: drop-shadow(0px 25px 10px rgb(238, 61, 16));
        filter:         drop-shadow(0px 25px 10px rgb(238, 61, 16)); 
        transform: rotate(180deg); 
    }
    90% {
        -webkit-filter: drop-shadow(0px 25px 5px rgb(238, 61, 16));
        filter:         drop-shadow(0px 25px 5px rgb(238, 61, 16)); 
    }
    100% {
        transform: rotate(180deg); 
        background-image: url('../../background-images/campaign-page/sword-flame.png');
        bottom: 22.5vh;
        -webkit-filter: drop-shadow(0px 25px 5px rgb(238, 61, 16));
        filter:         drop-shadow(0px 25px 5px rgb(238, 61, 16)); 
    }
}

@keyframes swordHover {
    0% {
        transform: rotate(180deg) translateY(0px); 
        -webkit-filter: drop-shadow(0px 25px 5px rgb(238, 61, 16));
        filter:         drop-shadow(0px 25px 5px rgb(238, 61, 16));
    }
    25% {
        transform: rotate(180deg) translateY(5px);
        -webkit-filter: drop-shadow(0px 25px 10px rgb(238, 61, 16));
        filter:         drop-shadow(0px 25px 10px rgb(238, 61, 16));
    }
    50% {
        transform: rotate(180deg) translateY(-5px); 
        -webkit-filter: drop-shadow(0px 25px 5px rgb(238, 61, 16));
        filter:         drop-shadow(0px 25px 5px rgb(238, 61, 16));
    }
    75% {
        transform: rotate(180deg) translateY(5px);
        -webkit-filter: drop-shadow(0px 25px 10px rgb(238, 61, 16));
        filter:         drop-shadow(0px 25px 10px rgb(238, 61, 16));
    }
    100% {
        transform: rotate(180deg) translateY(0px); 
        -webkit-filter: drop-shadow(0px 25px 5px rgb(238, 61, 16));
        filter:         drop-shadow(0px 25px 5px rgb(238, 61, 16));
    }
}

.rock {
    background-image: url('../../background-images/campaign-page/sword-rock.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: max(220px, 17vw);
    aspect-ratio: 1.1;
    position: absolute;
    opacity: 100%;
    bottom: 0%;
    /* animation: rockstart 10s; */
}









.header {
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, .75);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    box-shadow: 0px 10px 15px #000000;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IM Fell Double Pica SC', serif;
}

.bookshelf-left, .bookshelf-right {
    width: 20vw;
    height: 100vh;
    position: fixed;
    background-image: url('../../background-images/campaign-page/dark-panel.png');
    z-index: 9998;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    overflow: hidden;
}

.bookshelf {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.torch-left {
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    aspect-ratio: 1;
    position: absolute;
    top: 18%;
    -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
    filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0));
    animation: torchShadowLeft 10s infinite; 
    animation-delay: 1.25s;
}

.torch-left::before {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
    filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    animation: flickerBefore 10s infinite;
    animation-delay: 1.25s;
}

.torch-left::after {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
    filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    animation: flickerAfterLeft 10s infinite;
    animation-delay: 1.25s;
}

.torch-right {
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    aspect-ratio: 1;
    position: absolute;
    top: 18%;
    -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
    filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    animation: torchShadowRight 10s infinite;
}

.torch-right::before {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
    filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    animation: flickerBefore 10s infinite;
}

.torch-right::after {
    content: "";
    background-image: url('../../background-images/campaign-page/torch.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
    /* top: 18%; */
    -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
    filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    animation: flickerAfterRight 10s infinite;
}

@keyframes torchShadowLeft {
    0% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
}

@keyframes torchShadowRight {
    0% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(-10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-10px 45px 15px rgb(0, 0, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(5px 45px 15px rgb(0, 0, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(-5px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(-5px 45px 15px rgb(0, 0, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(10px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(10px 45px 15px rgb(0, 0, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px 45px 15px rgb(0, 0, 0));
        filter:         drop-shadow(0px 45px 15px rgb(0, 0, 0)); 
    }
}

@keyframes flickerBefore {
    0% {
        -webkit-filter: drop-shadow(0px -45px 10px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 10px rgb(255, 60, 0)); 
    }
    12.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    25% {
        -webkit-filter: drop-shadow(0px -45px 55px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 55px rgb(255, 60, 0)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    50% {
        -webkit-filter: drop-shadow(0px -45px 105px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 105px rgb(255, 60, 0)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(0px -45px 85px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 85px rgb(255, 60, 0)); 
    }
    75% {
        -webkit-filter: drop-shadow(0px -45px 55px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 55px rgb(255, 60, 0)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(0px -45px 155px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 155px rgb(255, 60, 0)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 10px rgb(255, 60, 0));
        filter:         drop-shadow(0px -45px 10px rgb(255, 60, 0)); 
    }
}

@keyframes flickerAfterLeft {
    0% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43));  
    }
    12.5% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    25% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    50% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43));
    }
    75% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    }
}

@keyframes flickerAfterRight {
    0% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43));  
    }
    12.5% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    25% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    37.5% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43)); 
    }
    50% {
        -webkit-filter: drop-shadow(10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(10px -45px 35px rgb(255, 121, 43)); 
    }
    62.5% {
        -webkit-filter: drop-shadow(-5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-5px -45px 35px rgb(255, 121, 43));
    }
    75% {
        -webkit-filter: drop-shadow(5px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(5px -45px 35px rgb(255, 121, 43)); 
    }
    87.5% {
        -webkit-filter: drop-shadow(-10px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(-10px -45px 35px rgb(255, 121, 43)); 
    }
    100% {
        -webkit-filter: drop-shadow(0px -45px 35px rgb(255, 121, 43));
        filter:         drop-shadow(0px -45px 35px rgb(255, 121, 43)); 
    }
}

.bookshelf-left {
    left: 0;
    top: 120px;
    border-right: 8px solid #240d0d;
}

.sorcerer {
    background-image: url('../../background-images/campaign-page/sorcerer.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0%;
    margin-bottom: 25%;
    -webkit-filter: drop-shadow(10px 0px 15px rgb(0, 0, 0));
    filter:         drop-shadow(10px 0px 15px rgb(0, 0, 0)); 
}

.bookshelf-right {
    right: 0;
    top: 120px;
    border-left: 8px solid #240d0d;
}

.wizard {
    background-image: url('../../background-images/campaign-page/wizard.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    aspect-ratio: 1;
    position: absolute;
    bottom: 0%;
    margin-bottom: 25%;
    -webkit-filter: drop-shadow(10px 0px 15px rgb(0, 0, 0));
    filter:         drop-shadow(10px 0px 15px rgb(0, 0, 0)); 
}

.campaignHeader {
    width: max-content;
    color: #D8D1C7;
    font-size: 76px;
    text-align: center;
    /* position: absolute; */
    text-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.campaignSection {
    margin-top: 200px;
    width: min(900px, 90%);
    /* height: 70%; */
    aspect-ratio: 1.5;
    border-radius: 1em;
    box-shadow: inset 0px 0px 5px 5px,
    inset 0px 0px 55px;
    background: url('../../background-images/campaign-page/campaign-section-2.png');
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-items: center; */
}

.demoVideo {
    background-color: #2e4568;
    border: outset 8px #806b68;
    border-radius: 10px;
    width: min(800px, 90%);
    aspect-ratio: 1.5;
    margin: 25px;
}

.loginBtns {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 15px;

    /* margin-bottom: 15px; */
}

.login, .createAccount {
    color: #D8D1C7;
    font-family: 'IM Fell Double Pica SC', serif;
    font-size: 30px;
    border-radius: 5px;
    border: 5px outset #3d3432;
    padding: 5px;
    background-color: #0e0e0e;
    cursor: pointer; 
    transition: border 2s, background-color 250ms;
    user-select: none;
}

.login {
    width: fit-content;
    height: fit-content;
}

.login:hover, .createAccount:hover {
    background-color: #1a1a1a;
    border: 5px inset #3d3432;
}

.login:active, .createAccount:active {
    transform: translateY(2px);
}

.createAccount {
    width: fit-content;
    height: fit-content;
    margin-left: 15px;
}